{% extends 'base.html.twig' %}

{% block title %}Reserveringen{% endblock %}

{% block body %}
    <h1>Reservations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reserveringen.id }}</td>
            </tr>
            <tr>
                <th>Checkin</th>
                <td>{{ reserveringen.checkin ? reserveringen.checkin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CheckOut</th>
                <td>{{ reserveringen.checkOut ? reserveringen.checkOut|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reserveringen_index') }}">back to list</a>

    <a href="{{ path('reserveringen_edit', {'id': reserveringen.id}) }}">edit</a>

    {{ include('reserveringen/_delete_form.html.twig') }}
{% endblock %}